body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: #2b6cb0;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: #4a5568;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px 16px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #cbd5e0;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #4fd1c5;
    box-shadow: 0 0 5px rgba(79, 209, 197, 0.5);
}

button {
    width: 100%;
    padding: 14px;
    background-color: #4fd1c5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #38b2ac;
}

button:focus {
    outline: none;
    background-color: #2c7a7b;
}

.btn-create {
    background-color: #f56565;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 50px;
    margin-bottom: 40px;
    border-radius: 8px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-create:hover {
    background-color: #c53030;
}
.success-message {
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #4caf50;
    color: white;
    padding:15px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight:bold;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);



}
.blur-background{
    filter:blur(5px);
    pointer-events:none;
}